<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <form class="form-inline">
            <button class="btn" type="button"
            [ngClass]="{'btn-outline-success': showTodosList === true, 'btn-sm': showTodosList === false, 'btn-outline-secondary': showTodosList === false}"
            (click)="changeView('todo-list')"
            >Todos</button>
            <button class="btn" type="button"
            [ngClass]="{'btn-outline-success': showTodosList === false, 'btn-sm': showTodosList === true, 'btn-outline-secondary': showTodosList === true}"
            (click)="changeView('create-todo')"
            >Create Todo</button>
        </form>
      </ul>
    </div>
  </nav>